body
    font-family: 'Roboto', sans-serif

.layout
    display: grid
    grid-template-areas: "header" "main" "footer"
    grid-gap: 1em
    grid-template-rows: auto 1fr auto
    width: 100vw

    @media only screen and (min-width: 880px) 
        width: 85vw
        margin: 0 auto
        border-width: 0.5px
        border-style: solid  


header
    display: grid
    grid-area: header
    border-bottom: 1px solid gray
    > div
        padding: 0 1em

.header
    display: grid
    grid-template-columns: 2em 1fr 2em
    align-items: center
    margin: 0.5rem 0
    @media only screen and (min-width: 720px) 
        grid-template-columns: auto 1fr 

.center
    text-align: center
    
.logowidth
    width: 2.5em
    @media only screen and (min-width: 720px) 
        width: 6em


main
    grid-area: main
    > div
        padding: 0 1em


footer
    grid-area: footer

.m-2
    display: grid
    @media only screen and (min-width: 720px) 
        grid-template-columns: 3fr 2fr
        grid-gap: 1em

form
    border-width: 0.5px
    border-style: solid
    border-radius: 1em
    padding: 1em 

.leaflet-tile-pane 
    -webkit-filter: grayscale(50%) hue-rotate(326deg)
    filter:  grayscale(50%) hue-rotate(326deg)

