.container
    font-family: sans-serif
    width: 200vh
    margin: 0 auto
    background: white
    display: flex
    flex-direction: column

header
    display: grid
    grid-template-columns: auto 1fr
    grid-template-rows: 2fr
    grid-column-gap: 5px
    grid-row-gap: 0px
    margin-bottom: 1rem
    
.logowidth
    width: 10rem