.input-wrapper
    display: flex
    flex-direction: column
    label
        font-size: 0.75rem
        margin: 0.5rem 0
    input
        font-size: 1rem
        padding: 0.5rem
        border-radius: 0.5rem
        border-width: 1px
        border-style: solid
        &::placeholder
            opacity: 0.35
.input-error
    font-size: 0.75rem
    margin: 0.5rem 0