@import './_variables'
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')



@keyframes goRed 
    from 
        background-color: $s247-color-primary
    to 
        background-color: $s247-color-secondary

.top
    background: $s247-color-primary
    color: $s247-color-primary_contrast

.layout
    @media only screen and (min-width: 880px)
        border-color: $s247-color-primary
form
    border-color: $s247-color-primary

footer
    background: $s247-color-primary
    color: $s247-color-primary_contrast
.social-link
    span
        color: $s247-color-primary_contrast