$s247-color-primary:var(--s247-color-primary)
$s247-color-primary_contrast:var(--s247-color-primary_contrast)
$s247-color-primary_darken:var(--s247-color-primary_darken)

$variant: ("small": 0.85, "medium": 1, "large": 1.5)

@each $name, $ratio in $variant 
    .#{$name} 
        a
        font-size:  $ratio+rem
        border-radius: ($ratio * 1)+rem
        padding: ($ratio * 0.5)+rem ($ratio * 1)+rem

.navbar-item
    a
        display: flex
        flex-direction: column
        align-items: center
        gap: 1.25rem
        height: 3.5rem
        width: 3.5rem
        background-color: $s247-color-primary
        border-radius: 3rem
        border: 1px dashed $s247-color-primary_contrast,
        box-shadow: 0 0 0 4px $s247-color-primary, 2px 1px 6px 4px rgba(10, 10, 0, 0.5)
        padding: 10px
        &:hover, &[aria-current="page"]
            background-color: $s247-color-primary_darken
            box-shadow: 0 0 0 4px $s247-color-primary_darken, 2px 1px 6px 4px rgba(10, 10, 0, 0.5)
            border: 1px dashed yellow
    img
        height: 2rem
    span
        color: $s247-color-primary
        font-weight: 600
        width: max-content
        text-transform: uppercase
        font-size: 0.75rem